@model CC.Web.Models.Solution.SolutionViewModel

<fieldset>
    <legend>SolutionViewModel</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
