@model CC.Web.Models.ListedIdsViewModel

<div>
    <ol>
        @foreach(var listedId in Model.Ids)
        {
            <li>
                @Html.Action("ListedPartial", new { controller = "TeamInCompetition", id = listedId })
            </li>
        }
    </ol>
</div>