@model CC.Web.Models.Team.ListedTeamsViewModel

<div>
    <ol>
        @foreach(var team in Model.ListedTeamViews)
        {
            <li>
                @Html.ActionLink(team.Name, "Details", new {controller = "Team", id = team.Id})
            </li>
        }
    </ol>
</div>