<fieldset>
<legend>Neumont Coding Competitions</legend>

    <label>Ongoing Competitions</label>
    @Html.Action("OngoingCompetitions","Competition")

    <label>Upcoming Competitions</label>
    @Html.Action("UpcomingCompetitions", "Competition")

    <label>Previous Competitions</label>
    @Html.Action("PreviousCompetitions", "Competition")
</fieldset>



