@model CC.Web.Models.Competition.CompetitionsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>All Competitions</legend>
            <div>
            <input type="hidden" name="?resultsPerPage" value="10" />

            <ul>
            @foreach (var competition in Model.CompetitionViewModels)
            {
                <li>   
                    @Html.ActionLink(competition.Competition.Name, "Details", new { id = competition.Competition.Id })
                </li>
            }
            </ul>
        </div>
</fieldset>